body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 320px;
	background: #455A64;
	padding: 40px 20px;
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}
h1{
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: -5px;
}

label{
	font-size: 18px;
	color: #CFD8DC;
}
input[type=text], select, textarea {
	width: 100%;
	background: none;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 6px 15px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #CFD8DC;
}
input[type="submit"]{
	background: #81C784;
	border:0;
	cursor: pointer;
	color: #37474F;
}
input[type="submit"]:hover{
	background: #66BB6A;
}